html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
  box-sizing: border-box;
}

/* Start */

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #efefef;
}

.container {
  padding: 6vw;
}

h1 {
  font-size: 34px;
  text-align: center;
  padding-bottom: 55px;
}

h4 {
  font-size: 28px;
  text-align: center;
  padding-bottom: 45px;
}

ul {
  text-align: center;
  display: block;
  width: 100%;
  padding-bottom: 40px;
}

ul li {
  display: inline-block;
  cursor: pointer;
  background: #3f9d3d;
  color: #fff;
  font-weight: bold;
  margin: 5px;
  padding: 10px;
  border-radius: 3px;
}

ul li a {
  color: #fff;
  text-decoration: none;
}

ul li:hover {
  background-color: #41a53f;
}

section {
  padding: 20px;
  border-radius: 2px;
  max-width: 1300px;
  margin: 0 auto;
  background: #e0e0e0;
}